<div class="card m-3 bg-gray-900">
    <span class="card-title h3 p-3 text-white">Last Transactions</span>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Origin</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Type</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mdo</td>
                  <td>mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>fat</td>
                  <td>fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td >Larry the Bird</td>
                  <td>Thornton</td>
                  <td>twitter</td>
                  <td>twitter</td>
                </tr>
              </tbody>
        </table>
    </div>
</div>